<h1>Evaluierung - reporting charts</h1>
<h2>
  <a href="https://www.chartjs.org/">Chart.js</a>
</h2>

<div class="card">
  <div>
    <i>Pie</i>
    <div>
      <input placeholder="Name" #name>
      <input type="number" placeholder="Anzahl" min="0" #amount>
      <button (click)="addToPieChart(name.value, amount.value)">Hinzufügen</button>
    </div>
    <div></div>
  </div>
  <div class="chart-container">
    <canvas id="pie-canvas"></canvas>
  </div>
</div>

<div class="card">
  <div>
    <i>Bar</i>
  </div>
  <div class="chart-container">
    <canvas id="bar-canvas"></canvas>
  </div>
</div>

<div class="card">
  <div>
    <i>Radar</i>
  </div>
  <div class="chart-container">
    <canvas id="radar-canvas"></canvas>
  </div>
</div>

<hr>
<h2>
  <a href="http://echarts.baidu.com/echarts2/index-en.html">ECharts</a>
</h2>

<div class="card">
  <div>
    <i>Pie</i>
  </div>
  <div id="echart-pie">
  </div>
</div>

<div class="card">
  <div>
    <i>Bar</i>
  </div>
  <div id="echart-bar">
  </div>
</div>