/* You can add global styles to this file, and also import other style files */

html {
  overflow-y: scroll !important;
}

body * {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: orange;
  margin-left: calc(100vw - 100%);
}

h1 {
  text-decoration: underline;
  text-decoration-style: dashed;
}

.card {
  background-color: white;
  box-shadow: 0 0 5px darkblue;
  padding: 15px;
  margin: 20px 5px;
}

.card>div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

i {
  text-transform: uppercase;
  font-style: italic;
}

input {
  border: 1px solid #757575;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 2px;
    margin-right: 5px;
}

button {
  background-color: #cacaca;
  color: #333333;
  border: none;
  padding: 3px 10px;
  margin-bottom: 10px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: darkblue;
}

.echarts {
  height: 400px;
}

#dummy {
  display: none;
}

@media(min-width: 1300px) {
  .card {
    display: inline-block;
    width: 45%;
  }
}